<h1><%= @project.name %></h1>

    <form action="/edit_project/<%= @project.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label>Edit project:</label>
      <input type="text" name="edit-name">
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br>

    <p>Volunteers signed up for this project:</p>
    <% if @project_volunteers.length == 0 %>
    <p>No volunteers for this project yet!</p>
    <% else %>

    <form action="/remove_volunteer_from_project/<%= @project.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <ol>
        <% @project_volunteers.each do |volunteer| %>
          <li><input type="checkbox" name="remove_volunteers[]" value="<%= volunteer.id %>" id="<%= volunteer.id %>">
          <%= volunteer.name %></li>
        <% end %>
      </ol>
      <button type="submit" class="btn btn-danger">Remove volunteer from project</button>
    </form>
    <% end %>


    <br><br><br>


    <p>Volunteers without a project:</p>
    <% if @free_volunteers.length == 0 %>
    <p><a href="/volunteer_form">Click to create a new volunteer</a></p>
    <% else %>
    <form action="/add_volunteer_to_project/<%= @project.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <ol>
        <% @free_volunteers.each do |volunteer| %>
        <li><input type="checkbox" name="add_volunteers[]" value="<%= volunteer.id %>" id="<%= volunteer.id %>">
          <%= volunteer.name %></li>
        <% end %>
      </ol>
      <button type="submit" class="btn btn-success">Add to project</button>
    </form>
    <% end %>


    <br><br><br>


    <form action="/delete/<%= @project.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger">Delete Project</button>
    </form>
